<html>
    <head>
        <title>Community Canvas</title>
        
        
        <!-- Bootstrap Core CSS -->
		
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        
	
		
		
    </head>
    <body>
		<div class="container">
			<h1>Community Canvas</h1>
            

		</div>
        
        
    
        <!-- Bootstrap Core JavaScript -->
        <script src="static/js/bootstrap.min.js"></script>
		
		
		
        
    </body>
</html>
